aiohttp==3.9.5
aiosignal==1.3.1
anyio==4.4.0
asgiref==3.8.1
async-timeout==4.0.3
attrs==23.2.0
Brotli==1.1.0
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.8
Django==5.0.6
django-allauth==0.63.3
exceptiongroup==1.2.2
frozenlist==1.4.1
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
idna==3.7
multidict==6.0.5
mutagen==1.47.0
pillow==10.4.0
psycopg2==2.9.9
pycparser==2.22
pycryptodomex==3.20.0
PyJWT==2.8.0
requests==2.32.3
sniffio==1.3.1
sqlparse==0.5.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
websockets==12.0
yarl==1.9.4
yt-dlp==2024.7.16
ytmusicapi==1.7.3
