{% extends "mainapp/base.html" %}
{% load static %}


{% block title %}Explore{% endblock title %}
{% block content %}
<div id="allelements" class="pt-8 flex flex-col ml-2 sm:ml-[100px] ">
    <div id="ribbonbox" class="flex poppins-regular  scroll-smooth  w-[98%] space-x-4 mt-20">
        <a class="  text-white hover:text-black text-lg   hover:bg-[#1d88e6] rounded-full hover:border-white border-2 border-[#1d88e6]  hover:shadow-white hover:scale-110 "
            href="#ribbonbox">
            <div class="px-5 py-1 text-xl">New Releases</div>
        </a>
        <a class=" text-white hover:text-black text-lg   hover:bg-[#1d88e6] rounded-full hover:border-white border-2 border-[#1d88e6]  hover:shadow-white hover:scale-110 "
            href="#h1">
            <div class="px-5 py-1 text-xl">Top Playlists</div>
        </a>
        <a class=" text-white hover:text-black text-lg   hover:bg-[#1d88e6] rounded-full hover:border-white border-2 border-[#1d88e6]  hover:shadow-white hover:scale-110 "
            href="#h2">
            <div class="px-5 py-1 text-xl">Mood & Genres</div>
        </a>
        <a class="  text-white hover:text-black text-lg   hover:bg-[#1d88e6] rounded-full hover:border-white border-2 border-[#1d88e6]  hover:shadow-white hover:scale-110 "
            href="#h4">
            <div class="px-5 py-1 text-xl">Trending Albums</div>
        </a>
    </div>

    <div class="flex-col poppins-regular mt-10 ">
        <div class="text-white flex w-[98%] text-[30px] justify-between">
            <div class="montserrat">New Releases</div>
            <div id="scrollnavbtn" class="flex">
                <button class="hover:scale-110" onclick="horizontalscroll(true,'h1')">
                    <div class="m-1"><img src="{% static 'mainapp/homepageassets/larrow.svg' %}" alt=""></div>
                </button>
                <button class="hover:scale-110" onclick="horizontalscroll(false,'h1')">
                    <div class="m-1"><img src="{% static 'mainapp/homepageassets/rarrow.svg' %}" alt=""></div>
                </button>
            </div>
        </div>
        <div id="h1"
            class=" scrollbar  sm:hover:overflow-x-scroll sm:overflow-hidden h-64  w-[98%] pt-4 grid grid-flow-col auto-cols-auto  scroll-smooth space-x-5 pl-1">
            {% for _ in 'x'|rjust:10 %}
            <div>
                <div class="h-[121px] w-[121px] bg-gray-800 animate-pulse shadow-lg rounded-md">

                </div>
                <div class="w-24 h-2 rounded bg-gray-700 animate-pulse  mt-3 ml-1">

                </div>
                <div class="w-20 h-2 rounded bg-gray-700 animate-pulse  mt-2 ml-1">

                </div>

            </div>
            {% endfor %}
        </div>

    </div>
    <div class="text-white flex w-[98%] text-[30px] justify-between">
        <div class="montserrat">Top Playlists</div>
        <div id="scrollnavbtn" class="flex">
            <button class="hover:scale-110" onclick="horizontalscroll(true,'h2')">
                <div class="m-1"><img src="{% static 'mainapp/homepageassets/larrow.svg' %}" alt=""></div>
            </button>
            <button class="hover:scale-110" onclick="horizontalscroll(false,'h2')">
                <div class="m-1"><img src="{% static 'mainapp/homepageassets/rarrow.svg' %}" alt=""></div>
            </button>
        </div>
    </div>
    <div id="h2"
        class=" sm:scrollbar scrollbar  sm:hover:overflow-x-scroll sm:overflow-hidden h-64  w-[98%] pt-4 grid grid-flow-col auto-cols-auto  scroll-smooth space-x-5">
        {% for _ in 'x'|rjust:10 %}
        <div>
            <div class="h-[190px] w-[190px]  bg-gray-800 animate-pulse shadow-lg rounded-md">

            </div>
            <div class="text-white w-40 h-2 rounded bg-gray-700 animate-pulse  mt-3 ml-1">

            </div>
        </div>
        {% endfor %}
    </div>

    <div class="flex-col  mt-10">
        <div class="text-white flex w-full text-[30px] montserrat">
            Mood & genres
        </div>
        <div id="h3" class="mt-5 w-[98%] grid grid-cols-6 grid-rows-6 gap-5 text-white *:poppins-regular">
            {% for _ in 'x'|rjust:36 %}


            <div class=" mr-2 rounded-lg hover:shadow-lg h-10 w-28 bg-gray-800 animate-pulse shadow-lg">

            </div>


            {% endfor %}
        </div>
    </div>

    <div class="text-white flex w-[98%] text-[30px] justify-between mt-10">
        <div class="montserrat">Trending Albums</div>
        <div id="scrollnavbtn" class="flex">
            <button class="hover:scale-110" onclick="horizontalscroll(true,'h4')">
                <div class="m-1"><img src="{% static 'mainapp/homepageassets/larrow.svg' %}" alt=""></div>
            </button>
            <button class="hover:scale-110" onclick="horizontalscroll(false,'h4')">
                <div class="m-1"><img src="{% static 'mainapp/homepageassets/rarrow.svg' %}" alt=""></div>
            </button>
        </div>
    </div>
    <div id="h4"
        class=" sm:scrollbar scrollbar  sm:hover:overflow-x-scroll sm:overflow-hidden h-64  w-[98%] pt-4 grid grid-flow-col auto-cols-auto  scroll-smooth space-x-5">
        {% for _ in 'x'|rjust:10 %}
        <div>
            <div class="h-40 w-40 bg-gray-800 animate-pulse shadow-lg rounded-md">

            </div>
            <div class="w-32 h-2 rounded bg-gray-700 animate-pulse  mt-3 ml-1">

            </div>
            <div class="w-20 h-2 rounded bg-gray-700 animate-pulse  mt-3 ml-1">

            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock content %}




{% block script %}
<script>
    $("#exploreimg").attr("src", "{% static 'mainapp/homepageassets/explore1.svg' %}");
    $("#homeimg").attr("src", "{% static 'mainapp/homepageassets/home2.svg' %}");
    $('#libimg').attr("src", "{% static 'mainapp/homepageassets/library2.svg' %}");
    $('#likedsongsimg').attr("src", "{% static 'mainapp/homepageassets/mylikes2.svg' %}");
    $('#profileimg').attr("src", "{% static 'mainapp/homepageassets/profile2.svg' %}");


    $('#homebox').removeClass('hover:border-l-[#5398C9]').addClass('hover:border-l-white');
    $('#explorebox').removeClass('hover:border-l-[#5398C9]').addClass('hover:border-l-white');
    $('#librarybox').removeClass('hover:border-l-[#5398C9]').addClass('hover:border-l-white');
    $('#likedsongsbox').removeClass('hover:border-l-[#5398C9]').addClass('hover:border-l-white');
    $('#profilebox').removeClass('hover:border-l-[#5398C9]').addClass('hover:border-l-white');
    $('#lchild').removeClass("bg-transparent");
    $('#lchild').addClass("gradnav");

</script>
<!-- <script>
    // $("#grad-control").addClass("gradnav1");
    $("#grad-control").append(`
        <div id="allelements1" class="pt-8 flex flex-col ml-2 sm:ml-[100px] ">
        <div id="ribbonbox" class="flex poppins-regular  scroll-smooth  w-[98%] space-x-2 mt-20">
        </div>
        
    </div>`);
</script> -->
<script src="{% static 'mainapp/explorepage/newexplore.js' %}"></script>

<script>
    $(document).ready(function insertData() {
        $.ajax({
            type: 'GET',
            url: "{% url 'getExploredata' %}",
            success: function (response) {



                $('#h1').empty();
                response.heading1.forEach(function (item) {
                    $('#h1').append(
                        `
                            <button class="hover:scale-110" songId = "${item.videoId}" songname="${item.title}" songauthor="${item.artist}" thumbnail="${item.thumbnail}" onclick="loadSong(this.getAttribute('songId'),this.getAttribute('songname'),this.getAttribute('songauthor'),this.getAttribute('thumbnail'))">
                                <div class="h-[141px] w-[141px] scale-125 pl-4">
                                    <img src="${item.thumbnail}" alt="">
                                </div>
                                <div class="text-white w-32 mt-1 text-container">
                                    <span class="animated-text title-text raleway">
                                        ${item.title}
                                    </span>
                                </div>
                                <div class="text-white w-32 text-container">
                                    <span class=" animated-text artist-text lora">
                                        ${item.artist}
                                    </span>
                                </div>
                            </button>
                        `
                    );
                    var $lastAddedText = $("#h1 .title-text").last();
                    var trimmedText = $lastAddedText.text().trim();
                    if (trimmedText.length <= 15) {

                        $lastAddedText.removeClass("animated-text");
                        $lastAddedText.closest(".text-container").removeClass("text-container");
                    }

                    var $lastAddedArtistText = $("#h1 .artist-text").last();
                    var trimmedArtistText = $lastAddedArtistText.text().trim();
                    if (trimmedArtistText.length <= 15) {
                        $lastAddedArtistText.removeClass("animated-text");
                        $lastAddedArtistText.closest(".text-container").removeClass("text-container");
                    }

                }
                );
                $('#h2').empty();
                response.heading2.forEach(function (item) {
                    $('#h2').append(
                        `
                            <button class="hover:scale-110" playlistId="${item.browseId}" onclick = "getPL(this.getAttribute('playlistId'),'${item.title}')">
                                <div class="h-[160px] w-[160px] flex items-center bg-[#1E1E1E]"">
                                    <img src="${item.thumbnail}" alt="">
                                </div>
                                <div class="text-white w-40 pt-1 text-container">
                                    <span class="animated-text title-text raleway">
                                        ${item.title}
                                    </span>
                                </div>
                            </button>
                        `
                    );
                    var $lastAddedText = $("#h2 .title-text").last();
                    var trimmedText = $lastAddedText.text().trim();
                    if (trimmedText.length <= 15) {

                        $lastAddedText.removeClass("animated-text");
                        $lastAddedText.closest(".text-container").removeClass("text-container");
                    }

                }
                );
                $('#h3').empty();
                response.heading3.forEach(function (item) {
                    $('#h3').append(
                        `
                            <button moodplID = '${item.params}' class="${item.mcolor} bg-[#373737] border-l-8 mr-2 text-lg font-semibold border-[1px] rounded-lg hover:shadow-md hover:shadow-white hover:scale-110 justify-stretch min-w-full" onclick = "getMood('${item.params}','${item.title}')">
                                <div class=" py-2 text-sm">${item.title}</div>
                            </button>
                        `
                    );

                }
                );
                $('#h4').empty();
                response.heading4.forEach(function (item) {
                    $('#h4').append(
                        `
                            <button class="hover:scale-110" albumId = "${item.browseId}" onclick = "getAL('${item.browseId}','${item.title}')">
                                <div class="h-40 w-40 ">
                                    <img src="${item.thumbnail}" alt="">
                                </div>
                                <div class="text-white w-40 pt-1 text-container">
                                    <span class="animated-text title-text raleway">
                                        ${item.title}
                                    </span>
                                </div>
                                <div class="text-white w-40 text-container">
                                    <span class=" animated-text artist-text lora">
                                        ${item.artist}
                                    </span>
                                </div>
                            </button>
                        `
                    );
                    var $lastAddedText = $("#h4 .title-text").last();
                    var trimmedText = $lastAddedText.text().trim();
                    if (trimmedText.length <= 15) {

                        $lastAddedText.removeClass("animated-text");
                        $lastAddedText.closest(".text-container").removeClass("text-container");
                    }

                    var $lastAddedArtistText = $("#h4 .artist-text").last();
                    var trimmedArtistText = $lastAddedArtistText.text().trim();
                    if (trimmedArtistText.length <= 15) {
                        $lastAddedArtistText.removeClass("animated-text");
                        $lastAddedArtistText.closest(".text-container").removeClass("text-container");
                    }

                }
                );

            }




        });
    });

</script>

{% endblock script %}