{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" href="{% static 'users/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Faster+One&family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'mainapp/homepageassets/style.css' %}">
</head>

<body>
    <div class="w-full flex flex-col items-center h-screen">
        <div class="mt-[10%] text-center">
            <div class="faster-one text-[#1d88e6] mb-4">GOOFY</div>
            <div class="text-white text-xl mb-6">Password Reset</div>
            <div class="text-gray-300 max-w-md mx-4">
                We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
            </div>
            <div class="text-gray-300 max-w-md mx-4 mt-4">
                If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
            </div>
            <a href="{% url 'login_view' %}" class="mt-8 inline-block text-black px-6 py-2 rounded-xl bg-[#1d88e6] hover:bg-[#104a7d] active:bg-[#1d88e6]">Return to Login</a>
        </div>
    </div>
</body>

</html>