{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set New Password</title>
    <link rel="stylesheet" href="{% static 'users/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Faster+One&family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'mainapp/homepageassets/style.css' %}">
</head>

<body>
    <div class="w-full flex flex-col items-center h-screen">
        <div class="mt-[10%] text-center">
            <div class="faster-one text-[#1d88e6] mb-4">GOOFY</div>
            <div class="text-white text-xl mb-6">Set New Password</div>
            <form method="post" class="flex flex-col items-center">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="flex flex-col space-y-4 w-[50%] min-w-[250px]">
                    <input type="password" name="new_password1" placeholder="New Password" required class="h-[45px] bg-white bg-opacity-30 rounded-[25px] shadow border border-black placeholder:text-black interlight px-2 placeholder:opacity-50">
                    <input type="password" name="new_password2" placeholder="Confirm Password" required class="h-[45px] bg-white bg-opacity-30 rounded-[25px] shadow border border-black placeholder:text-black interlight px-2 placeholder:opacity-50">
                    {% if form.new_password1.errors %}
                        <div class="text-red-500 text-sm">
                            {% for error in form.new_password1.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if form.new_password2.errors %}
                        <div class="text-red-500 text-sm">
                            {% for error in form.new_password2.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <button type="submit" class="w-[35%] min-w-60 h-11 mt-8 rounded-xl text-center bg-[#1d88e6] hover:bg-[#104a7d] active:bg-[#1d88e6]">
                    <div class="py-2 text-black text-xl font-bold inter">Set Password</div>
                </button>
            </form>
        </div>
    </div>
</body>

</html>